@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font: "Poppins", sans-serif;

  --color-white: #fff;
  --color-blue: #6884ed;
  --color-purple-light: #b897e9;

  --color-purple-dark: #9059f6;
  --color-orange: #f2855d;
  --color-grey-light: #aaaaaa;
  --color-grey-dark: #919192;
  --color-black: #0a0a0a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font);
}
